.form-container {
    background-color: bisque;
    font-family: fantasy;
}

.title {
    font-weight: lighter;
    color: black;
}
.btn-container {
  display: flex;
  justify-content: center;
}

.btn-area {
    background-color:  rgb(206, 139, 15);
    padding: 15px;
    margin-top: 10px;
    width: 200px;
    border-radius: 25px;
    font-size: larger;
    font-weight: bold;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.btn-area:after {
    content: "→";
    position: absolute;
    opacity: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btn-area:hover {
    padding-right: 24px;
    padding-left: 8px;
  }
  .btn-area:hover:after {
    opacity: 1;
    right: 10px;
  }
  