.container {
    display: flex;
    flex-direction: column;
}
.book-details-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 150px;

}
.details {
    text-shadow: 2px 1px 2px black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.text-details {
    
    color: white;
    text-align: center;
    margin-top: -10px;
}

.detail-title {
 font-size: large;
}
.detail-author {
font-size: large;
}
.detail-genre {
font-size: large;
}
.review {
    text-shadow: 2px 1px 2px black;
    padding: 10px 0px;
    color: white;
}
   


.description {
    color: white;
    text-shadow: 2px 1px 2px black;
    margin: 20px;
}

.button-area {
    text-align: center;
    margin-right: 20px;
}

.review-btn1 {
    font-size: large;
    cursor: pointer;
    background-color: rgb(15, 247, 247);
    margin-top: 5px;
    padding: 10px;
    border-radius: 25px;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    
}
.review-btn1:after {
    content: "»";
    position: absolute;
    opacity: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .review-btn1:hover {
    padding-right: 24px;
    padding-left: 8px;
  }
  .review-btn1:hover:after {
    opacity: 1;
    right: 10px;
  }

img {
    box-shadow: 0px 0px 10px 5px white;
    width: 230px;
    height: 330px;
}