

.books-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}
h1 {
    
    color: white;
    text-align: center;
}
.book-card {
    margin: 10px;
    text-align: center;
    border: 1px solid white;
    background-color: lightblue;
    width: 250px;
}
.book-img {
    height: 300px;
    width: 250px;
}
.book-name {
    font-size: 24px;
}
.book-author {
    font-size: 18px;
}

.page-header {
    display: flex;
    justify-content: space-evenly;

}
.drop-down-box {
    align-self: center;

}
.search-bar {
    align-self: center;
    
    
} 
select {
    padding: 10px;
    background-color: bisque;

}   
input {
    padding: 10px;
    background-color: bisque;
}

