.add-review-container {
  display: flex;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}
.book-details {
  margin: 48px;
}

.title-text {
  color: black;
  text-align: center;
}

.book-form {
  display: flex;
  background-color: bisque;
  flex-direction: column;
  padding: 10px;
  width: 60%;
}
.text {

  margin-bottom: 20px;
}

.review-btn {
  padding: 15px;
  align-self: center;
  width: 200px;
  background-color: rgb(206, 139, 15);
  border-radius: 25px;
  font-size: large;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  
}

.review-btn:after {
  content: "→";
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
}

.review-btn:hover {
  padding-right: 24px;
  padding-left: 8px;
}
.review-btn:hover:after {
  opacity: 1;
  right: 10px;
}


.book-title {  
  text-shadow: 1px 1px 1px black ;
  color: white;
  text-align: center;
}
